---
name: Build and Test

on:
  push:
  pull_request:

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - name: use arkade to isntall dependency
        uses: alexellis/arkade-get@master
        with:
          task: latest
      - name: Lint Go Code
        run: |
          go install honnef.co/go/tools/cmd/staticcheck@latest
          task check

  vet:
    name: Vet
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - name: use arkade to isntall dependency
        uses: alexellis/arkade-get@master
        with:
          task: latest
      - name: Vet Go code
        run: task vet

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - name: use arkade to isntall dependency
        uses: alexellis/arkade-get@master
        with:
          task: latest
      - name: Test
        run: task test

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: [check, vet, test]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - name: use arkade to isntall dependency
        uses: alexellis/arkade-get@master
        with:
          task: latest
      - name: build
        run: task build
      - name: Trivy scan
        uses: aquasecurity/trivy-action@0.34.1
        with:
          scan-type: "fs"
          ignore-unfixed: true
          format: "table"
          exit-code: "1"
          vuln-type: "os,library"
          severity: "CRITICAL,HIGH"